/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.popups {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.popup {
  width: 100%;
}

.popup__body {
  position: relative;
  margin: 10px;
  padding: 10px 30px;
  text-align: justify;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.popup__body--green {
  color: white;
  background-color: #43B649;
}

.popup__close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  /* float: right; */
  /* padding: 2px 8px; */
  /* margin-top: -2px; */
  /* background-color: lightgray; */
  /* border-radius: 4px; */
  user-select: none;
  cursor: pointer;
  line-height: 1em;
}

@keyframes enter {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}

@keyframes leave {
  from {transform: translateX(0%);}
  to {transform: translateX(100%);}
}

.enter {
  animation: .2s enter ease-out;
}

.leave {
  animation: .2s leave ease-in;
}



.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding-bottom: 50px;
  font-size: 24px;
}
